<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span id="kk"></span>
<input type="text" onkeyup="kk()">
<div id="w">
    <h1>是否已婚：<span v-if="IsMarry">是</span></h1>
    {{Name}}<br/>
    {{Age}}<br/>
    {{School}}<br/>
    <div style="font-size:30px;font-weight:bold;" v-html="Age">年龄：</div>
    <h1>大人or小孩：<span v-if="Age>18">大人</span><span v-else>小屁孩</span></h1>
    <input type="" v-model="Name">

</div>
<div id="ww">
    <ul>
        <li v-for="value in nums">{{value}}</li>
    </ul>
</div>
<div id="www">
    <ul>
        <li v-for="value in values1">姓名：{{value.Name}}，年龄：{{value.Age}}</li>
    </ul>
</div>
<div id="wwww">
    <ul>
        <li v-for="(value, key)  in values">
            {{ key }} : {{ value }}
        </li>
        <hr>
        <li v-for="(value, key, index) in values">
            {{ index }} . {{ key }} : {{ value }}
        </li>
    </ul>
</div>
</body>
<script src="vue.js"></script>
<script type="text/javascript">
    //Model
    var data = {
        IsMarry: false,
        Name: '小明',
        Age: 20,
        School:'光明小学',
    }

    //ViewModel
    var vue = new Vue({
        el: '#w',
        data: data
    });

    //ViewModel2
    var vue2 = new Vue({
        el: '#ww',
        data: {
            nums: [1, 2, 3, 4, 5, 6, 7, 8, 9]
        }
    });

    //ViewModel
    var vue3 = new Vue({
        el: '#www',
        data: {
            values1: [{ Name: "小明", Age: 20 }, { Name: "小刚", Age: 18 }, { Name: "小红", Age: 16 }]
        }
    });
    //ViewModel
    var vue3 = new Vue({
        el: '#wwww',
        data: {
            values: { Name: "小明", Age: 20, School: "**高中" }
        }
    });


    function kk() {
        alert(1)
    }
</script>
</html>